.menuA {
  color: #777777;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  padding: 5px 0px 5px;
  margin-left: 5px;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #cfd1cf);
  background-image: -o-linear-gradient(top, #f5f5f5, #cfd1cf);
  background-image: linear-gradient(to bottom, #f5f5f5, #cfd1cf);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding: 6px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 5px solid #369fe4;
}
.menuA:hover {
  color: #000000;
  text-decoration: none;
}
.dropdown-menu > li > p {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
#mask {
  position: fixed;
  height: 30px;
  font-size: 26px;
}
#mask-bottom {
  position: fixed;
  height: 30px;
  font-size: 26px;
}
#mask-left {
  position: fixed;
  width: 30px;
  font-size: 26px;
}
#mask-right {
  position: fixed;
  width: 30px;
  font-size: 26px;
}
#width-tip {
  position: fixed;
  background: #f2f2f2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 5px;
}
#colorPicker {
  position: absolute;
}
#colorPicker input {
  margin: 2px;
  border: 1px solid #cccccc;
  background-color: #333333;
  padding: 5px;
  color: #ffffff;
  z-index: 9999;
  top: 0px;
  left: 0px;
  position: absolute;
  background-position: initial initial;
  background-repeat: initial initial;
}
body {
  cursor: url("./ckmod/icon/paint.png");
}
#tplDialog {
  position: fixed;
  left: 1%;
  z-index: 3000;
  width: 98%;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
#tplDialog.fade {
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
  top: -25%;
}
#tplDialog.fade.in {
  top: 1%;
}
#tplDialogBody {
  max-height: 200px;
}
#tplDialogHeader {
  position: absolute;
  top: 20px;
  right: 20px;
}
#container {
  -webkit-transition: opacity 0.3s linear, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, margin-top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, margin-top 0.3s ease-out;
}
#progress-bar {
  width: 692px;
  background-color: #f3f3f3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  padding: 10px;
}
#progress-bar .progress-text {
  text-align: center;
  font-weight: bold;
}
#design-tool {
  width: 100%;
  height: 40px;
  background: #f3f3f3;
  position: fixed;
  top: 0px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#design-tool-max {
  display: none;
}
@media screen and (max-width: 1100px) {
  .showTplDialog {
    margin-top: 200px;
  }
}
@media screen and (min-width: 1100px) {
  #container {
    padding-left: 300px;
  }
  #tplDialog {
    width: 300px;
    left: 0px;
    top: 50px !important;
    margin-left: -300px;
    max-height: 90%;
    overflow-y: auto;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
  }
  #tplDialog.fade {
    -webkit-transition: opacity 0.3s linear, margin-left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, margin-left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, margin-left 0.3s ease-out;
    transition: opacity 0.3s linear, margin-left 0.3s ease-out;
    margin-left: -300px;
  }
  #tplDialog.fade.in {
    margin-left: 0px;
  }
  #tplDialogBody {
    max-height: none;
  }
  #design-tool {
    width: 300px;
    background: #f3f3f3;
    position: fixed;
    top: 60px;
  }
  #design-tool-min {
    display: none;
  }
  #design-tool-max {
    display: block;
  }
}
#design-bar {
  width: 100%;
  height: 55px;
  background: #f3f3f3;
  position: fixed;
  bottom: 0px;
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.btn.back-next {
  margin: 10px 0px;
  padding: 8px 16px;
  font-size: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#design-alert > .alert {
  margin-bottom: 0px;
}
