#preview-close{
	color: #ffffff;
	text-decoration: none;
}
#preview-close:link{
	color: #ffffff;
	text-decoration: none;
}
#preview-close:hover{
	color: #000000;
	text-decoration: none;
}
#edit-to:link{
	text-decoration: none;
}
#edit-to:hover{
	text-decoration: none;
}
#preview-container{
	margin-top: 0px;
	margin-bottom: 1%;
	width: 100%;
	height: 96%;
	position: fixed;
	z-index: 1500;
	top: 40px;
	left: 0px;
}
#preview-header{
	padding: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: inset 0 1px 2px #999;
	-moz-box-shadow: inset 0 1px 2px #999;
	-webkit-box-shadow: inset 0 2px 1px #999;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-lineaR-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f5f5f5');
}
#preview-header > li{
	border-bottom: 1px dashed #cdcdcd;
	list-style: none;
	list-style-position: inside;
	padding: 5px 0 5px 25px;
}
#preview-iframe{
	overflow: hidden;
	width: 0px;
	/*width: 100%;
	width: 2000px;
	margin-left: -550px;*/
	border: 0;
}
#mobile-iframe{
	width: 320px;
	border: 0;
	margin-top: 123px;
	height: 568px;
	margin-left: 43px;
}
#preview-tool{
	width: 100%;
	height: 50px;
	background: #f3f3f3;
	position: fixed;
	top: 0px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	z-index: 1500;
}
#edit-groups-container{
	display: inline;
}
.mCSB_container{
	min-height: 400px;
}
#desktop-view{
	margin-top: 10px;
}
#mobile-view{
	background: url(img/mod/campaign/iphone.png) no-repeat 0 0;
	background: url(../../img/mod/campaign/iphone.png) no-repeat 0 0\9;
	width: 405px;
	height: 815px;
	margin: 10px auto 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.rotate-mobile{
	margin-top: -150px !important;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.rotate-mobile #mobile-iframe{
	width: 568px;
	height: 320px;
	margin-top: 248px;
	margin-left: -82px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
#desktop-button{
	display: inline-block;
}

.popover.in{
	z-index: 1500;
}

table.tips-table {
  width: 100%;
  margin-bottom: 26px;
}
table.tips-table th,
table.tips-table td {
  border-bottom: solid 1px #d5d5d5;
  padding: 5px 5px;
  text-align: right;
  border: 0px;
  padding: 1px;
}
table.tips-table th:first-child,
table.tips-table td:first-child {
  text-align: center;
}
table.tips-table th span.no i,
table.tips-table td span.no i {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 13px !important;
  margin-left: 10px !important;
  color: black !important;
  font-weight: bold;
}
table.tips-table th span.no.no-1 i,
table.tips-table td span.no.no-1 i {
  background-color: #D9534F !important;
}
table.tips-table th span.no.no-2 i,
table.tips-table td span.no.no-2 i {
  background-color: #ED9C28 !important;
}
table.tips-table th span.no.no-3 i,
table.tips-table td span.no.no-3 i {
  background-color: #E6E61A !important;
}
table.tips-table th span.no.no-4 i,
table.tips-table td span.no.no-4 i {
  background-color: #47A447 !important;
}
table.tips-table th span.no.no-5 i,
table.tips-table td span.no.no-5 i {
  background-color: #39B3D7 !important;
}
table.tips-table th span.no.no-6 i,
table.tips-table td span.no.no-6 i {
  background-color: #3276B1 !important;
}
.level-1 {
  background-color: #D9534F !important;
}
.level-2 {
  background-color: #ED9C28 !important;
}
.level-3 {
  background-color: #E6E61A !important;
}
.level-4 {
  background-color: #47A447 !important;
}
.level-5 {
  background-color: #39B3D7 !important;
}
.level-6 {
  background-color: #3276B1 !important;
}
